// Dynamic Layout

<%- include('header');%>
<div class="about">
    <h2>MD NOKIBUL AMIN MEZBA</h2>
    <h3>BSc. CSSE in AIUB</h3>
    <p>I am professional full-stack developer.</p>
</div>
<%- include('footer');%>