<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>TO DO LIST</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
<div class="box" id="heading">
    <h1>  <%= tday %> </h1>
</div>

<div class="box">
    <% for(var i = 0; i < newitems.length; i++) {%>
    <div class="item">
        <input type="checkbox">
        <p> <%= newitems[i] %></p>
    </div>
        <% } %>
</div>

<form action="/" method="post">
    <input type="text" name="additem" placeholder="Add Item" autocomplete="off">
    <button type="submit"> + </button>
</form>

</body>
<footer>
    <p> NA MEZBA ©2020.</p>
</footer>
</html>
